= render partial: 'exercises/form_modal', locals: { exercise: exercise, title: title }
%button{ type: 'button', class: 'btn btn-primary', data: { toggle: 'modal', target: "##{exercise_modal_id(exercise, title)}" }}
  = title
