%table.table.table-condensed.table-striped{ id: table_id }
  %thead
    %tr
      %th Date
      %th Repetitions
      %th Duration (in seconds)
      %th
  %tbody
    = render partial: 'exercise', collection: exercises

