.btn-group.new-weight.pull-md-right
  = link_to 'Add Entry', new_user_weight_path(current_user), remote: true, class: 'btn btn-secondary', id: 'new-weight'

#graph.big-plot
  = render partial: 'charts/show'

= render partial: 'layouts/form_modal'
