.row
  .btn-group.new-exercise.pull-md-right
    - @course_names.each do |name|
      = link_to "Add #{name}", new_user_course_path(current_user, name: name), remote: true, class: 'btn btn-secondary', id: "new-#{name.parameterize}"

#courses-calendar.calendar-container{ data: { event_url: user_courses_path(format: 'json') }}

#course-modal.modal.fade
  .modal-dialog{ role: 'document' }
    .modal-content
      .modal-header
        %button{ type: 'button', class: 'close', data: { dismiss: 'modal' }, aria: { label: 'Close' }}
          %span{ aria: { hidden: true }}
            = '&times'.html_safe
        %h4{ class: 'modal-title', id: 'course-modal-title' }
          Edit
      .modal-body
        #course-form
