html,body{height:100%;}

.container {
    height:100%;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #f6a828 !important;
    border-color: #f6a828 !important;
}

.page-navigationbar {
    padding: 15px;
    font-size: 20px;
    color: #f6a828 !important;
    /* border-color: #f6a828 !important; */
    /* border-style: solid; */
    /* border-radius: 0; */
}

#plot {
    width: 100%;
    height: 100%;
}

.page-navigation {
    margin-bottom: 15px;
}

.fc-scroller {
   overflow-y: hidden !important;
}